h1{
  text-align: center;
  font-family:  fantasy;
  color: rosybrown;
  background-color: lavender;
}
.container {
  background-color: sandybrown;
  col
}
.played{
  text-align: center;
}
#playerOne{
  text-align: left;
}
#playerTwo{
  text-align: left;
}
#twoButtons{
  text-align: center;
}
.player-console{
  display: none;
}
