
.container {
  background-color: moccasin;
  color: midnightblue;
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fmelbournechapter.net%2Fimages%2Feaster-bunny-ears-clipart.png&imgrefurl=https%3A%2F%2Fmelbournechapter.net%2Fexplore%2Fear-transparent-background%2F&docid=DJ2AWuGvlgv6YM&tbnid=tzmZPsCMiSFmqM%3A&vet=10ahUKEwi09ry_hePdAhUQCRoKHYY2AloQMwhxKC0wLQ..i&w=1273&h=1210&bih=672&biw=1366&q=pig%20dice%20transparent%20animated%20backgrounds&ved=0ahUKEwi09ry_hePdAhUQCRoKHYY2AloQMwhxKC0wLQ&iact=mrc&uact=8');
  background-repeat: no-repeat;
}


body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRutg8XayhtcKcLObBp0fpwpKlSZttvo4wYEA_EyIOsqsfwC3wE');
}

label {
  color: #2fbaf9;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
}

h4 {
  color: #d6ff4f;
  text-decoration: underline;
}

h1 {
  float: right;
  color: #d6ff4f;
  font-family: 'Emblema One', cursive;
  font-size: 85px;
}



body {
  background-image: url('../img/bg.jpg');
}

label {
  color: #2fbaf9;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
}

h4 {
  color: #d6ff4f;
  text-decoration: underline;
}
