
.container {
  background-color: moccasin;
  color: midnightblue;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MK1faMg_bprxfFWD3-hwXXR3BIMESBXe0XpUNtZLUbFe76W9');
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  background-image: url('');
}

label {
  color: #2fbaf9;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
}



h1 {
  float: right;
  color: #d6ff4f;
  font-family: 'Emblema One', cursive;
  font-size: 96px;
  text-decoration: underline;
  font-weight: bolder;
}

body {
  font-weight: bold;
  font-size: 26px;
  font-style: oblique;
  font-family:monospace;
}

h4 {
  color: #d6ff4f;
  text-decoration: underline;
  font-weight: bold;
  font-size: 53px;
  font-family: serif;

}

label {
  color: #2fbaf9;
  font-size: 35px;
  font-family: 'Oleo Script', cursive;
}
h3 {
  color:  #2fbaf9;
  text-decoration: overline;
  font-size: 32px;
  font-weight: bold;
}
